/*Contenidos*/
.cont1 {
    background-color: #FF4560;
    padding: 8px;
    border-radius: 4px;
    height: 135px;
}

.cont2 {
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 4px;
    height: 135px;
}

.cont3 {
    background-color: #212435;
    padding: 8px;
    border-radius: 4px;
    height: 135px;
}

.card-transparent {
    background-color: transparent;
}

.br-1 {
    border-right: 1px solid #32ACE2;
    height: 120px;
}