::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    .mat-mdc-form-field-error {
      font-size: calc(1em - 2px) !important;
    }
  }
  
  mat-error {
    font-size: calc(1em - 2px) !important;
  }
}

