<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\ApiRoy.dll" 
                  stdoutLogEnabled="false" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__OrgConnStringDbLogin" value="Server=161.132.56.68;Initial Catalog=ROE00;User Id=sa;Password=12335599;TrustServerCertificate=True;" />
          <environmentVariable name="ConnectionStrings__OrgConnStringDbData" value="Server=161.132.56.68;Initial Catalog=ROE01;User Id=sa;Password=12335599;TrustServerCertificate=True;" />
          <environmentVariable name="JWT__SECRET_KEY" value="NexworkERP2025SecureJWTKeyForProductionEnvironment64BytesMinimumRequired!" />
          <environmentVariable name="APIPERU_TOKEN" value="8b26b8b3d121830d2091ffbb34e782a2542ef4074ab0fd9a7027b290d617c8ca" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
