<div
  class="pb-12 px-4 md:px-4 bg-neutral-100 w-full h-full overflow-x-hidden overflow-y-auto"
>
  <div class="!fixed bottom-3 right-3 !z-50">
    <div class="flex items-center justify-center p-3 relative">
      <button
        id="mainfab"
        mat-fab
        extended
        aria-label="Botón flotante"
        [routerLink]="['/dashboard/pages/ventas', numPedido, 'print']"
        class="!bg-purple-600 !text-white z-50"
      >
        <mat-icon>print</mat-icon>
        Imprimir
      </button>
      <div
        class="absolute w-1/2 h-1/2 bg-purple-500 animate-ping rounded-lg"
      ></div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row my-4 bg-white rounded-md shadow overflow-hidden"
  >
    <mat-toolbar class="!w-fit !bg-white">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Detalle Pedido N°</span>
      <span *ngIf="!!pedido">{{ pedido.numPedido }}</span>
    </mat-toolbar>
    <div
      class="md:flex-1 flex flex-col md:justify-center md:items-end px-4 pb-2 md:pb-0"
    >
      <nav class="flex" aria-label="Breadcrumb">
        <ol
          class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
        >
          <li class="inline-flex items-center">
            <a
              [routerLink]="['/dashboard/pages/ventas']"
              class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-purple-600 dark:text-gray-400 dark:hover:text-white no-underline"
            >
              <mat-icon>home</mat-icon>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <mat-icon class="text-gray-400">chevron_right</mat-icon>
              <a
                [routerLink]="['/dashboard/pages/ventas']"
                class="ms-1 text-sm font-medium text-gray-700 hover:text-purple-600 md:ms-2 dark:text-gray-400 dark:hover:text-white no-underline"
                >Ventas</a
              >
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <mat-icon class="text-gray-400">chevron_right</mat-icon>

              <span
                class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
                *ngIf="!!pedido"
                >{{ pedido.numPedido }}</span
              >
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div
    class="mt-3 flex flex-col gap-3 bg-white rounded-md shadow overflow-hidden p-2 md:p-4 justify-end items-end"
  >
    <div class="mb-4 flex flex-col gap-2 w-full" id="pedido-container">
      <div class="flex flex-col gap-2 flex-wrap" *ngIf="!!pedido">
        <div class="w-full flex flex-row px-2">
          <div class="flex flex-row flex-wrap flex-1 justify-between">
            <p class="text-md poppins-semibold p-0 m-0">
              Pedido N° {{ pedido.numPedido }}
            </p>
          </div>

          <div class="flex flex-row flex-wrap gap-1">
            <div
              [ngClass]="{
                'text-sm poppins-semibold uppercase place-self-end px-1 py-0.5 rounded text-white': true,
                'bg-blue-400': pedido.estado === ' ' || pedido.estado === 'P',
                'bg-green-500': pedido.estado === 'D'
              }"
            >
              {{ pedido.estado == "D" ? "Despachado" : "Por despachar" }}
            </div>
          </div>
        </div>

        <div class="px-2 flex flex-col gap-2">
          <div class="flex flex-row flex-wrap gap-1">
            <span class="poppins-semibold text-sm">Fecha</span>
            <span class="text-sm poppins-regular">{{
              pedido.fechaPedido
            }}</span>
          </div>

          <div class="flex flex-row flex-wrap gap-1">
            <span class="poppins-semibold text-sm">Cliente</span>
            <span class="text-sm poppins-regular">
              {{ pedido.rucCliente }} - {{ pedido.desCliente }}
            </span>
          </div>

          <div class="flex flex-row flex-wrap gap-1">
            <span class="poppins-semibold text-sm">Dirección</span>
            <span class="text-sm poppins-regular">
              {{ pedido.dirCliente ? pedido.dirCliente : "Sin dirección" }}
            </span>
          </div>

          <div class="flex flex-row flex-wrap gap-1">
            <span class="poppins-semibold text-sm">Tipo Moneda</span>
            <span class="text-sm poppins-regular">
              {{ pedido.moneda }}
            </span>
          </div>

          <div class="flex flex-row flex-wrap gap-1">
            <span class="poppins-semibold text-sm">Observaciones</span>
            <span class="text-sm poppins-regular" *ngIf="!pedido.observaciones">
              No se agregaron observaciones
            </span>
            <span
              class="text-sm poppins-regular"
              *ngIf="!!pedido.observaciones"
            >
              {{ pedido.observaciones }}
            </span>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full">
        <div class="w-full flex flex-row flex-wrap justify-end">
          <button
            mat-button
            [hidden]="pedido?.estado != 'P'"
            class="m-2"
            [routerLink]="['/dashboard/pages/ventas', numPedido, 'update']"
          >
            <mat-icon>edit</mat-icon>
            Editar
          </button>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-2 gap-2">
          <div
            class="col-span-1 lg:col-span-2 rounded-lg border-2 flex flex-wrap flex-col divide-solid divide-x-0 divide-y-0 md:divide-y md:divide-x-0 divide-neutral-300 bg-neutral-100"
          >
            <div
              *ngIf="!!productos"
              class="max-h-96 overflow-y-scroll flex flex-col gap-2 py-2"
            >
              <mat-card
                *ngFor="let item of productos"
                appearance="raised"
                class="!mx-2 px-2 py-4 md:px-4 md:py-6 !bg-white"
              >
                <div class="flex flex-row gap-2 md:gap-4">
                  <div class="flex flex-col flex-1 flex-wrap">
                    <div class="flex flex-col gap-2">
                      <div>
                        <p>
                          <span class="poppins-semibold">{{
                            item.codProducto
                          }}</span>
                          -
                          <span class="poppins-regular">{{
                            item.descripcion
                          }}</span>
                        </p>
                      </div>
                      <div class="flex flex-row justify-between flex-wrap">
                        <p class="text-sm">
                          <label
                            ><b class="poppins-semibold text-neutral-600"
                              >Cantidad:</b
                            >&nbsp;</label
                          >
                          <span>{{ item.cantidad }}</span>
                        </p>

                        <p class="text-sm">
                          <label
                            ><b class="poppins-semibold text-neutral-600"
                              >P.Unit.:</b
                            >&nbsp;</label
                          >
                          <span *ngIf="!!pedido">{{ pedido.abrMoneda }}</span
                          ><span>{{ item.precio }}</span>
                        </p>
                        <p class="text-sm">
                          <label
                            ><b class="poppins-semibold text-neutral-600"
                              >Importe:</b
                            >&nbsp;</label
                          >
                          <span *ngIf="!!pedido">{{ pedido.abrMoneda }}</span
                          ><span>{{ item.monto }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>

            <div
              class="w-full min-h-32 flex flex-col items-center justify-center content-center justify-items-center h-full"
              *ngIf="!productos || productos.length == 0"
            >
              <div class="flex flex-col items-center justify-center">
                <p class="pt-1 poppins-regular px-2 text-center">
                  No se agregaron productos al pedido
                </p>
                <span class="text-neutral-500 pt-2 !relative"
                  ><mat-icon
                    class="!text-6xl !overflow-visible !relative !w-fit !h-fit"
                    >production_quantity_limits</mat-icon
                  >
                </span>
              </div>
            </div>
          </div>

          <div
            class="rounded-lg border-2 flex flex-wrap flex-col divide-solid divide-x-0 divide-y-0 md:divide-y md:divide-x-0 divide-neutral-300 bg-neutral-100"
            *ngIf="!!pedido"
          >
            <div
              class="text-center px-4 py-2 md:p-4 flex flex-row md:flex-col justify-between"
            >
              <p class="text-sm poppins-semibold">Subtotal</p>
              <p>
                {{ pedido.abrMoneda }} {{ pedido.subtotal | number : "1.2-2" }}
              </p>
            </div>
            <div
              class="text-center px-4 py-2 md:p-4 flex flex-row md:flex-col justify-between"
            >
              <p class="text-sm poppins-semibold">Igv</p>

              <p>{{ pedido.abrMoneda }} {{ pedido.igv | number : "1.2-2" }}</p>
            </div>
            <div
              class="text-center px-4 py-2 md:p-4 flex flex-row md:flex-col justify-between"
            >
              <p class="text-sm poppins-semibold">Total</p>
              <p>
                {{ pedido.abrMoneda }} {{ pedido.total | number : "1.2-2" }}
              </p>
            </div>
            <div
              class="text-center px-4 py-2 md:p-4 flex flex-row md:flex-col justify-between"
              *ngIf="pedido.estado === 'F'"
            >
              <p class="text-sm poppins-semibold">Factura</p>
              <p>{{ pedido.factura }}</p>
            </div>
            <div
              class="text-center px-4 py-2 md:p-4 flex flex-row md:flex-col justify-between"
              *ngIf="!!pedido.ordenCompra"
            >
              <p class="text-sm poppins-semibold">Orden de Compra</p>
              <p>{{ pedido.ordenCompra }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  name="products"
>
  <p style="font-size: 20px; color: white">Cargando detalle...</p>
</ngx-spinner>
