<div class="row">
    <div class="col-sm-12">
        <apx-chart *ngIf="xaxis && xaxis.categories && xaxis.categories.length > 0"
            [series]="series!"
            [chart]="chart!"
            [dataLabels]="dataLabels!"
            [plotOptions]="plotOptions!"
            [xaxis]="xaxis!"
            [title]="chartTitle!"
        ></apx-chart>

        <div class="chartNotData" *ngIf="!xaxis || !xaxis.categories || xaxis.categories.length === 0">
            <span class="icn_excl">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Sin datos para mostrar
            </span>
        </div>
    </div>
</div>
